<!doctype html>
<title>housefinder</title>
{% for error in errors %}
  <p>{{error}}</p>
{% endfor %}

<div class="container">
  <h2> {{ results }} results </h2>
  <table>
    <thead>
      <tr>
        <td> name </td>
        <td> meters </td>
        <td> price </td>
        <td> link </td>
      </tr>
    </thead>
    <tbody>
      {% for house in items %}
        <tr>
          <td> {{house.name}} </td>
          <td> {{house.meters}} </td>
          <td> {{house.price}} </td>
          <td> <a class='button' href="{{house.link}}">Go</a> </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
